language: go
go:
  - 1.3
services:
  - redis-server
  - mongodb
notifications:
  email:
    - jeffhann@gmail.com
before_install:
  - npm install -g dredd
before_script:
  - mongorestore
  - dredd
script: dredd
